<h1>Listado de Inscriptos</h1>
<b>Cantidad:</b>
<%= pluralize(Enrollment.count,"Inscripto")%>
<table>
  <tr id='encabezado'>
    <th id='thEncabezado'>Apellido</th>
    <th>Nombre</th>
    <th>Fecha de Nacimiento</th>
    <th>Lugar de Nacimiento</th>
    <th>Edad</th>
    <th>Jurisdicción</th>
  </tr>

<% @enrollments.each do |enrollment| %>
  <tr>
    <td><%=h enrollment.lastname %></td>
    <td><%=h enrollment.firstname %></td>
    <td><%=h enrollment.birth_date %></td>
    <td><%=h enrollment.birthplace %></td>
    <td><%=h enrollment.age %></td>
    <td><%=h enrollment.jurisdiccion %></td>
    <td><%= link_to 'Ver', enrollment %></td>
    <td><%= link_to 'Editar', edit_enrollment_path(enrollment) %></td>
    <td><%= link_to 'Borrar', enrollment, :confirm => 'Está seguro que desea eliminar?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
