<h1>New enrollment</h1>

<% form_for(@enrollment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :apellido %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :fecha_de_nacimiento %><br />
    <%= f.date_select :birth_date %>
  </p>
  <p>
    <%= f.label :lugar_de_nacimiento %><br />
    <%= f.text_field :birthplace %>
  </p>
  <p>
    <%= f.label :edad %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :estado_civil %><br />
    <%= f.text_field :marital_status %>
  </p>
  <p>
    <%= f.label :hijos %><br />
    <%= f.text_field :children %>
  </p>
  <p>
    <%= f.label "Grupo Sanguíneo" %><br />
    <%= f.text_field :blood_group %>
  </p>
  <p>
    <%= f.label "Dirección" %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :telefono_fijo %><br />
    <%= f.text_field :fixed_phone %>
  </p>
  <p>
    <%= f.label :celular %><br />
    <%= f.text_field :cell %>
  </p>
  <p>
    <%= f.label "Ocupación Actual" %><br />
    <%= f.text_field :current_ocupation %>
  </p>
  <p>
    <%= f.label :nombre_del_conyuge %><br />
    <%= f.text_field :name_of_spouse %>
  </p>
  <p>
    <%= f.label :nivel_educativo_secundario %><br />
    <%= f.text_field :secundary_education %>
  </p>
  <p>
    <%= f.label :nivel_educativo_terciario %><br />
    <%= f.text_field :tertiary_education %>
  </p>
  <p>
    <%= f.label "Institución de Egreso" %><br />
    <%= f.text_field :institution_of_expenditure %>
  </p>
  <p>
    <%= f.label :nombre_del_padre %><br />
    <%= f.text_field :fathers_name %>
  </p>
  <p>
    <%= f.label :dni %><br />
    <%= f.text_field :fathers_dni %>
  </p>
  <p>
    <%= f.label :fecha_de_nacimiento %><br />
    <%= f.date_select :fathers_birth_date %>
  </p>
  <p>
    <%= f.label "Ocupación Actual" %><br />
    <%= f.text_field :fathers_current_occupation %>
  </p>
  <p>
    <%= f.label :nombre_de_la_madre %><br />
    <%= f.text_field :mothers_name %>
  </p>
  <p>
    <%= f.label :dni %><br />
    <%= f.text_field :mothers_dni %>
  </p>
  <p>
    <%= f.label :fecha_de_nacimiento %><br />
    <%= f.date_select :mothers_birth_date %>
  </p>
  <p>
    <%= f.label "Ocupación Actual" %><br />
    <%= f.text_field :mothers_current_occupation %>
  </p>
  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>

<%= link_to 'Volver', enrollments_path %>