<p>
  <b>Lastname:</b>
  <%=h @enrollment.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @enrollment.firstname %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @enrollment.birth_date %>
</p>

<p>
  <b>Birthplace:</b>
  <%=h @enrollment.birthplace %>
</p>

<p>
  <b>Age:</b>
  <%=h @enrollment.age %>
</p>

<p>
  <b>Marital status:</b>
  <%=h @enrollment.marital_status %>
</p>

<p>
  <b>Children:</b>
  <%=h @enrollment.children %>
</p>

<p>
  <b>Blood group:</b>
  <%=h @enrollment.blood_group %>
</p>

<p>
  <b>Address:</b>
  <%=h @enrollment.address %>
</p>

<p>
  <b>Fixed phone:</b>
  <%=h @enrollment.fixed_phone %>
</p>

<p>
  <b>Cell:</b>
  <%=h @enrollment.cell %>
</p>

<p>
  <b>Current ocupation:</b>
  <%=h @enrollment.current_ocupation %>
</p>

<p>
  <b>Name of spouse:</b>
  <%=h @enrollment.name_of_spouse %>
</p>

<p>
  <b>Secundary education:</b>
  <%=h @enrollment.secundary_education %>
</p>

<p>
  <b>Tertiary education:</b>
  <%=h @enrollment.tertiary_education %>
</p>

<p>
  <b>Institution of expenditure:</b>
  <%=h @enrollment.institution_of_expenditure %>
</p>

<p>
  <b>Fathers name:</b>
  <%=h @enrollment.fathers_name %>
</p>

<p>
  <b>Fathers dni:</b>
  <%=h @enrollment.fathers_dni %>
</p>

<p>
  <b>Fathers birth date:</b>
  <%=h @enrollment.fathers_birth_date %>
</p>

<p>
  <b>Fathers current occupation:</b>
  <%=h @enrollment.fathers_current_occupation %>
</p>

<p>
  <b>Mothers name:</b>
  <%=h @enrollment.mothers_name %>
</p>

<p>
  <b>Mothers dni:</b>
  <%=h @enrollment.mothers_dni %>
</p>

<p>
  <b>Mothers birth date:</b>
  <%=h @enrollment.mothers_birth_date %>
</p>

<p>
  <b>Mothers current occupation:</b>
  <%=h @enrollment.mothers_current_occupation %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>