<p>
  <b>Apellido:</b>
  <%=h @enrollment.lastname %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @enrollment.firstname %>
</p>

<p>
  <b>Fecha de Nacimiento:</b>
  <%=h @enrollment.birth_date %>
</p>

<p>
  <b>Lugar de Nacimiento:</b>
  <%=h @enrollment.birthplace %>
</p>

<p>
  <b>Edad:</b>
  <%=h @enrollment.age %>
</p>

<p>
  <b>Estado Civil:</b>
  <%=h @enrollment.marital_status %>
</p>

<p>
  <b>Hijos:</b>
  <%=h @enrollment.children %>
</p>

<p>
  <b>Grupo Sanguíneo:</b>
  <%=h @enrollment.blood_group %>
</p>

<p>
  <b>Dirección:</b>
  <%=h @enrollment.address %>
</p>

<p>
  <b>Teléfono Fijo:</b>
  <%=h @enrollment.fixed_phone %>
</p>

<p>
  <b>Teléfono Celular:</b>
  <%=h @enrollment.cell %>
</p>

<p>
  <b>Ocupación Actual:</b>
  <%=h @enrollment.current_ocupation %>
</p>

<p>
  <b>Nombre de Conyuge:</b>
  <%=h @enrollment.name_of_spouse %>
</p>

<p>
  <b>Educación Secundaria:</b>
  <%=h @enrollment.secundary_education %>
</p>

<p>
  <b>Educación Terciaria:</b>
  <%=h @enrollment.tertiary_education %>
</p>

<p>
  <b>Institución de Egreso:</b>
  <%=h @enrollment.institution_of_expenditure %>
</p>

<p>
  <b>Nombre del Padre:</b>
  <%=h @enrollment.fathers_name %>
</p>

<p>
  <b>DNI:</b>
  <%=h @enrollment.fathers_dni %>
</p>

<p>
  <b>Fecha de Nacimiento:</b>
  <%=h @enrollment.fathers_birth_date %>
</p>

<p>
  <b>Ocupación Actual:</b>
  <%=h @enrollment.fathers_current_occupation %>
</p>

<p>
  <b>Nombre de la Madre:</b>
  <%=h @enrollment.mothers_name %>
</p>

<p>
  <b>DNI:</b>
  <%=h @enrollment.mothers_dni %>
</p>

<p>
  <b>Fecha de Nacimiento:</b>
  <%=h @enrollment.mothers_birth_date %>
</p>

<p>
  <b>Ocupación Actual:</b>
  <%=h @enrollment.mothers_current_occupation %>
</p>


<%= link_to 'Editar', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Volver', enrollments_path %>